<center><img src="https://www.mindinventory.com/blog/wp-content/uploads/2019/04/python-development-1200x500.png" width="1000"></center>

# Programa de Especialización en Python

## Caso: Random Forest con H2O

### Prof. Manuel Sigüeñas, M.Sc.(c)
[msguenas@socialdata-peru.com](msguenas@socialdata-peru.com)

In [1]:
import h2o
from h2o.estimators import H2ORandomForestEstimator

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         21 mins 41 secs
H2O cluster timezone:       America/Bogota
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.10
H2O cluster version age:    1 day
H2O cluster name:           H2O_from_python_SOCIAL_DATA_2v4zvu
H2O cluster total nodes:    1
H2O cluster free memory:    1.881 Gb
H2O cluster total cores:    12
H2O cluster allowed cores:  12
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.3 final
--------------------------  ---------------------------------------------------------

In [4]:
# Cargar data CSV
data = h2o.import_file('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [15]:
data.col_names

['C1', 'C2', 'C3', 'C4', 'C5']

In [16]:
# predictores del modelo
training_columns = ['C1', 'C2', 'C3', 'C4']
# target del modelo
response_column = 'C5'

In [6]:
# Construcción de datos de entrenamiento y prueba
train, test = data.split_frame(ratios=[0.8])

In [8]:
# definición del modelo
model = H2ORandomForestEstimator(ntrees=50, max_depth=20, nfolds=10)

In [17]:
# modelo de entranamiento
model.train(x=training_columns, y=response_column, training_frame=train)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [19]:
model

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1573304992132_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,18862.0,1.0,7.0,3.22,2.0,11.0,5.366667

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.03763500036758572
RMSE: 0.19399742361069056
LogLoss: 0.11558494297678268
Mean Per-Class Error: 0.06460746460746461

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         47.0              0.0             0.0  0.000000   0 / 47
1          0.0             32.0             3.0  0.085714   3 / 35
2          0.0              4.0            33.0  0.108108   4 / 37
3         47.0             36.0            36.0  0.058824  7 / 119

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.941176
1  2   1.000000
2  3   1.000000

ModelMetricsMultinomial: drf
** Reported on cross-validation data. **

MSE: 0.03547610678614099
RMSE: 0.18835102013565255
LogLoss: 0.1113782627227962
Mean Per-Class Error: 0.0555984555984556

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         47.0              0.0             0.0  0.000000   0 / 47
1          0.0             32.0             3.0  0.085714   3 / 35
2          0.0              3.0            34.0  0.081081   3 / 37
3         47.0             35.0            37.0  0.050420  6 / 119

Top-3 Hit Ratios:

   k  hit_ratio
0  1    0.94958
1  2    1.00000
2  3    1.00000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid,cv_6_valid,cv_7_valid,cv_8_valid,cv_9_valid,cv_10_valid
0,accuracy,0.9507936,0.06784051,0.8333333,1.0,0.85714287,1.0,1.0,1.0,0.8888889,0.9285714,1.0,1.0
1,err,0.04920635,0.06784051,0.16666667,0.0,0.14285715,0.0,0.0,0.0,0.11111111,0.071428575,0.0,0.0
2,err_count,0.6,0.84327406,2.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,logloss,0.10549204,0.11372078,0.34324095,0.022702998,0.25382528,0.10724501,0.05032036,0.0044040508,0.09842493,0.14348957,0.022768889,0.008498333
4,max_per_class_error,0.09583333,0.13328992,0.33333334,0.0,0.25,0.0,0.0,0.0,0.25,0.125,0.0,0.0
5,mean_per_class_accuracy,0.9547222,0.068544164,0.82222223,1.0,0.85,1.0,1.0,1.0,0.9166667,0.9583333,1.0,1.0
6,mean_per_class_error,0.045277778,0.068544164,0.17777778,0.0,0.15,0.0,0.0,0.0,0.083333336,0.041666668,0.0,0.0
7,mse,0.033519197,0.04157065,0.12177868,0.001732128,0.08600361,0.033693105,0.01036421,2.3651173E-5,0.032372933,0.04760112,0.0014945711,1.2797491E-4
8,r2,0.947124,0.06265526,0.83611095,0.9980538,0.86514634,0.94337684,0.9812926,0.99996024,0.9672224,0.88337725,0.99691445,0.99978495
9,rmse,0.14221492,0.12153697,0.34896803,0.041618843,0.29326373,0.18355681,0.10180477,0.0048632473,0.1799248,0.21817681,0.038659684,0.011312599

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2019-11-09 08:37:13,0.313 sec,0.0,NaN,NaN,NaN
1,,2019-11-09 08:37:13,0.313 sec,1.0,0.264980,2.266722,0.065217
2,,2019-11-09 08:37:13,0.313 sec,2.0,0.244401,1.860015,0.040000
3,,2019-11-09 08:37:13,0.313 sec,3.0,0.238918,1.812916,0.052083
4,,2019-11-09 08:37:13,0.313 sec,4.0,0.229009,1.703587,0.049020
5,,2019-11-09 08:37:13,0.313 sec,5.0,0.226199,1.028842,0.054054
6,,2019-11-09 08:37:13,0.344 sec,6.0,0.218716,0.727569,0.053097
7,,2019-11-09 08:37:13,0.360 sec,7.0,0.224097,0.734063,0.053097
8,,2019-11-09 08:37:13,0.360 sec,8.0,0.222060,0.447204,0.060870
9,,2019-11-09 08:37:13,0.360 sec,9.0,0.216764,0.440469,0.059829
10,,2019-11-09 08:37:13,0.360 sec,10.0,0.215966,0.436520,0.059322
11,,2019-11-09 08:37:13,0.360 sec,11.0,0.206046,0.406304,0.058824
12,,2019-11-09 08:37:13,0.360 sec,12.0,0.206823,0.405355,0.058824
13,,2019-11-09 08:37:13,0.360 sec,13.0,0.207242,0.405203,0.058824
14,,2019-11-09 08:37:13,0.375 sec,14.0,0.203641,0.403897,0.058824
15,,2019-11-09 08:37:13,0.375 sec,15.0,0.205328,0.406181,0.058824
16,,2019-11-09 08:37:13,0.375 sec,16.0,0.204247,0.407045,0.058824
17,,2019-11-09 08:37:13,0.375 sec,17.0,0.202510,0.407650,0.058824
18,,2019-11-09 08:37:13,0.375 sec,18.0,0.200905,0.407340,0.058824
19,,2019-11-09 08:37:13,0.391 sec,19.0,0.202969,0.410902,0.058824

See the whole table with table.as_data_frame()

Variable Importances:

  variable  relative_importance  scaled_importance  percentage
0       C3          1626.472778           1.000000    0.470439
1       C4          1555.459839           0.956339    0.449899
2       C1           207.938156           0.127846    0.060144
3       C2            67.479774           0.041488    0.019518

In [18]:
# Performance del modelo
performance = model.model_performance(test_data=test)

print(performance)

ModelMetricsMultinomial: drf
** Reported on test data. **

MSE: 0.035511036680436064
RMSE: 0.18844372284699765
LogLoss: 0.11553380691172625
Mean Per-Class Error: 0.0735042735042735

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          3.0              0.0             0.0  0.000000   0 / 3
1          0.0             14.0             1.0  0.066667  1 / 15
2          0.0              2.0            11.0  0.153846  2 / 13
3          3.0             16.0            12.0  0.096774  3 / 31

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.903226
1  2   1.000000
2  3   1.000000